body{
    text-align: center;
    font-family: 'Cinzel', serif;
    color: white;
    padding: 40px;
    background-image: url("../images/Dragon_picnic.png");
}
h2{
    border: 5px dotted white;
    background-color: grey;
    fill-opacity: 0.5;
}
h1{
    background-image: url("../images/dtwenties.png");
    padding: 30px;
}